<% content_for :title, "Novo dossiê N3" %>
<% content_for :nav_active, "defesa" %>
<% content_for :crumb, "Composição de defesa · #{@demand.codigo_display}" %>

<div class="max-w-[900px] mx-auto px-7 py-6">
  <%= render "form" %>
</div>
